/* home.css: Specific styles for the home page */



html, body {
    font: 14px Tahoma, "Lucida Grande", Verdana, Sans-Serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d; 

     
     /*background-image: url('https://github.com/gmostofabd/Proteus-Circuits-to-PCB/raw/7f712b753e3fd3b56dd4707e88cddfbd2934b5ee/assets/images/background.jpg');*/

    background-repeat: repeat-x;
    background-size: cover; /* Optional: Adjust if needed */
}



        #header {
            width: 100%;
            height: 150px;
            text-align: left;
            margin-bottom: 20px;
            background-image: url('https://github.com/gmostofabd/App-Inventor-Examples/blob/a9cf2b52e0bb5f8dbba27aceef0b50ae13991651/assets/images/App%20Inventor%20Tutorial%20Banner%20(1_2_3)a.gif');  /* Header Image */

            /*background-image: url('https://github.com/gmostofabd/Proteus-Circuits-to-PCB/blob/7f712b753e3fd3b56dd4707e88cddfbd2934b5ee/assets/images/background.jpg'); /* Header Image */


                
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; /* Optional: Adjust if needed */
        }



