        .nav-container {
            display: flex;
            justify-content: space-around;
            width: 80%;
            flex-wrap: wrap;
        }

        .nav-button {
            background-color: #FF6F61;
            color: white;
            padding: 10px 20px;
            margin: 10px;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            border-radius: 50px;
            transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            flex: 1 1 150px;
            text-align: center;
            max-height: 50px; /* Limit button height */
        }

        .nav-button:hover {
            background-color: #ff4a3d;
            transform: translateY(-3px);
        }

        .nav-button:active {
            transform: translateY(2px);
        }

        /* Style for inactive button */
        .inactive {
            background-color: #b0b0b0;
            cursor: default;
            box-shadow: none;
        }

        .inactive:hover {
            background-color: #b0b0b0;
            transform: none;
        }

        @media (max-width: 768px) {
            .nav-container {
                width: 90%;
                flex-direction: column;
                align-items: center;
            }

            .nav-button {
                width: 100%;
                margin: 10px 0;
                padding: 8px 16px;  /* Reduce padding for smaller screens */
                max-height: 45px;  /* Limit button height on medium screens */
            }
        }

        @media (max-width: 480px) {
            .nav-button {
                font-size: 14px;
                padding: 6px 12px; /* Further reduce padding for smaller screens */
                max-height: 40px; /* Limit button height on small screens */
            }
        }

